body {
  text-align: center;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

input, select {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.main img {
  margin-top: 20px;
  max-width: 300px;
  border: 2px solid white;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  width: 120px;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
}