body {
  text-align: center;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

input, select, button {
  padding: 10px;
  margin: 8px;
}

img {
  max-width: 300px;
  margin-top: 10px;
  border: 2px solid white;
}

#ideas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.idea {
  background: #222;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
}
